@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  @apply text-white min-h-screen;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  color: transparent;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 2.4rem;
  width: 2.4rem;
  background: url(/svg/cancel.svg) no-repeat;
  margin-top: 1rem;
  opacity: 1;
  margin-left: 0.5rem;
}

.slider {
  position: relative;
  width: 200px;
}
.slider__bg {
  width: 100%;
  background: #ede9fe;
  height: 40px;
  border-radius: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.3rem;
}
@media(min-width: 480px) {
  .slider__bg {
    width: 320px;
  }
}
.slider__track,
.slider__range {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 20rem;
  height: 8px;
  margin-top: -0.2rem;
}

.slider__track {
  background-color: #94a3b8;
  width: 100%;
  z-index: 1;
}

.slider__range {
  background: #1e293b;
  z-index: 2;
}

.slider__values {
  color: #1e293b;
  font-size: 16px;
  font-weight: 600;
}
.slider__desc {
  margin-top: 2.6rem;
  display: flex;
  justify-content: space-between;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 200px;
  outline: none;
}

.thumb--zindex-3 {
  z-index: 3;
}

.thumb--zindex-4 {
  z-index: 4;
}

.thumb--zindex-5 {
  z-index: 5;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background: #ffffff;
  border: 1px solid #64748b;
  border-radius: 50%;
  box-shadow: 0 0 4px 1px #08080833;
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin-top: 1px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background: #ffffff;
  border: 1px solid #64748b;
  border-radius: 50%;
  box-shadow: 0 0 4px 1px #08080833;
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin-top: 1px;
  pointer-events: all;
  position: relative;
}
