@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  @apply text-white min-h-screen;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  color: transparent;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 2.4rem;
  width: 2.4rem;
  background: url(/svg/cancel.svg) no-repeat;
  margin-top: 1rem;
  opacity: 1;
  margin-left: 0.5rem;
}

.slider {
  position: relative;
  width: 240px;
  margin-top: 1rem;
}

.slider__track,
.slider__range {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 20rem;
  height: 10px;
}

.slider__track {
  background-color: #FFFFFF;
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-image: linear-gradient(to right, #3730a3, #5b21b6);
  z-index: 2;
}

.slider__left-value,
.slider__right-value {
  color: #94a3b8;
  font-size: 16px;
}
.slider__desc {
  margin-top: 2.6rem;
  display: flex;
  justify-content: space-between;
}
.slider__left-value {
  left: 0;
}

.slider__right-value {
  right: 0;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 240px;
  outline: none;
}

.thumb--zindex-3 {
  z-index: 3;
}

.thumb--zindex-4 {
  z-index: 4;
}

.thumb--zindex-5 {
  z-index: 5;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-image: linear-gradient(to right, #3730a3, #5b21b6);
  border: 4px solid #FFFFFF;
  border-radius: 50%;
  box-shadow: 0 0 12px 1px #08080833;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 10px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-image: linear-gradient(to right, #3730a3, #5b21b6);
  border: 4px solid #FFFFFF;
  border-radius: 50%;
  box-shadow: 0 0 12px 1px #08080833;
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin-top: 10px;
  pointer-events: all;
  position: relative;
}
